* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}
 
body {
  line-height: 1.6;
  text-align: center;
 }

:root {
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.25rem;
  --font-size-title: clamp(1.5rem, 4vw, 2.5rem);
}